<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {% include 'common/head.html' %}
</head>
    <body>
    {% include 'common/navbar.html' %}

        <div class="container mt-5">
            {% for post in posts %}
            <div class="row border-bottom py-2">
                <div class="col-9">
                    <h2><a class="text-black text-decoration-none" href="/post/{{ post.id }}">{{ post.title }}</a></h2>
                </div>

                <div class="d-flex col-3 align-middle text-secondary-emphasis" role="contentinfo">
                    {{ post.created_at|format_time }}
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page - 1 }}">Prev</a>
                </li>
                <li class="page-item {% if page >= total_page %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page + 1 }}">Next</a>
                </li>
            </ul>
        </nav>

        {% include 'common/footer.html' %}
        {% include 'common/script.html' %}
    </body>
</html>
