<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    {% include 'common/head.html' %}
</head>
    <body>
    {% include 'common/navbar.html' %}

        <div class="container mt-5">
            <div class="row">
                {% for post in posts %}
                <div class="col-9">
                    {{ post.title }}
                </div>
                    <div class="col-3">
                    {{ post.created_at|format_time }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if page <= 1 %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page - 1 }}">Prev</a>
                </li>
                <li class="page-item {% if page >= total_page %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page + 1 }}">Next</a>
                </li>
            </ul>
        </nav>

        {% include 'common/footer.html' %}
        {% include 'common/script.html' %}
    </body>
</html>
